/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #2c2e32;
  overflow-x: hidden;
  padding-top: 60px;
  box-shadow: 1px 2px 2px black;
}

.sideNavContainer{
  height: 100%;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: flex;
}

.sidenav a:hover {
  color: #868686;
}

a{
  cursor: pointer;
}

